.panel {
  padding: 10px;
  background-color: #ebebeb;
  font-size: 20px;
}

.radio-button {
  display: inline-block;
  vertical-align: top;
  height: 15px;
  margin-right: 15px;
}

.label {
  display: inline-block;
  font-family: 'Patrick Hand', cursive;
  color: white;
  text-transform: uppercase;
}

.input-group {
  margin: 10px 0;
  padding: 5px;
}