.panel {
  padding: 10px;
  background-color: #ebebeb;
}

.radio-button {
  display: inline-block;
  vertical-align: top;
  height: 15px;
  margin: 0 10px 0 0;
}

.label {
  display: inline-block;
  vertical-align: top;
  line-height: 15px;
}

.input-group {
  margin: 10px 0;
}