.composer {
  width: auto;
  min-height: 500px;
  font-size: 30px;
  line-height: 2.5em;
  padding: 10px;
  background-color: #fff6dc;
  border: 1px solid #ebebeb;

  &:hover {
    cursor: text;
  }
}

.composer[contenteditable="false"] {
  background-color: #ebebeb;
}